ul, li {
  list-style: none;
  padding: 0;
}
header.well {
  margin-top: 20px;
}
.page-header {
  margin: 40px 0 0;
  border-bottom: 0;
}
.page-header > h1 {
  margin-bottom: 30px;
}
.page-header h1 a:hover,
.page-header h1 a:active,
.page-header h1 a:visited,
.page-header h1 a:focus {
  text-decoration: none;
}
.content {
  max-width: 960px;
}
.action-links a {
  margin-right: 5px;
}
.create-book,
.create-publisher,
.create-author {
  float: right;
  margin-bottom: 10px;
  clear: both;
}
.bg-success,
.bg-info {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
}
.back {
  display: block;
  margin-top: 10px;
}
.form-group span {
  display: block;
}

/* multi-select */
#multi-select ul li span {
  display: inline-block;
}
.delete-selected-item {
  margin-left: 5px;
  cursor: pointer;
}
#multi-select ul li {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 5px;
  border-radius: 4px;
  background: #cacaca;
}